<link rel='stylesheet' href='/stylesheets/cart.css' />

<div class="paper-container">
    <div id="product-list">
        <div class="product header">

        </div>
    </div>
    <div id="order-totals">
        <div class="total">
            <span>Subtotal</span>
            <span>$30</span>
        </div>
        <div class="total">
            <span>Tax</span>
            <span>$3</span>
        </div>
        <div class="total">
            <span>Shipping</span>
            <span>$1</span>
        </div>
        <div class="total">
            <span>Total</span>
            <span>$34</span>
        </div>
    </div>
</div>